body {
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container {
    margin: 50px auto;
}

.container button {
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.container #result {
    margin-top: 100px;
    color: white;
    text-align: center;
}